---
import Layout from '../layouts/Layout.astro';
import Bento from '../components/Bento.astro';

---

<Layout title="Welcome to Astro.">
	<main class="container mx-auto px-3 z-10 relative" >
		
    <Bento />
	</main>
</Layout>
