<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class=" order-2 md:order-1">
      <p class="p-3">
        Me llamo Misael Noriega. Empecé en la programación con un FoxPro y HTML, tenía 16 años. Actualmente estoy <strong
         class="text-yellow-200" >liderando un equipo de desarrollo en basado las tecnologias de oracle</strong>.
      </p>
  
      <p class="p-3">
        Algunos de mis éxitos incluyen <strong class="text-yellow-200"> la creación de un proceso de generación de recibos de pago y su administración, tanto su parte
          web como los componentes de integración y su procesamiento en el ERP destino.</strong>
      </p>
      <p class="p-3">
        Entre mis hobbis esta la carpinteria que es una actividad que me relaja y disfruto mucho habiendo ya creado un barandal,
        unas puertas y cosas sencillas solo para mi hogar.
      </p>
    </div>
    <img width="200" height="200" src="/img/avatar.jpg" alt="Misael Noriega" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
  </article>