<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div class=" order-2 md:order-1">
      <p class="p-3">
        Me llamo <strong class="text-yellow-200">Misael Noriega</strong> y mi pasión por la programación comenzó a los <strong class="text-yellow-200">16 años con FoxPro y HTML</strong>. 
        Con más de <strong class="text-yellow-200">15 años de experiencia</strong> como <strong class="text-yellow-200">desarrollador Full Stack</strong>, <strong class="text-yellow-200">actualmente lidero un equipo 
        de desarrollo</strong>  especializado en tecnologías de Oracle.
      </p>
  
      <p class="p-3">
          He logrado <strong class="text-yellow-200">éxitos significativos</strong>, como la <strong class="text-yellow-200">creación de un sistema integral para la generación y administración de recibos de pago</strong>. 
          He trabajado en la <strong class="text-yellow-200">incorporación de nuevas tecnologías y en la resolución de problemas tecnológicos</strong> en varios frentes, 
          desde la interfaz de usuario (UI) hasta el backend, 
          demostrando mi capacidad para trabajar en proyectos complejos y 
          aportar soluciones eficientes.

      </p>
      <p class="p-3">
        Entre mis hobbis esta la <strong class="text-yellow-200">carpinteria</strong> que es una actividad que me relaja y disfruto mucho habiendo ya creado varias cosas sencillas 
        solo para mi hogar.
      </p>
    </div>
    <img width="200" height="200" src="/img/avatar.jpg" alt="Misael Noriega" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
  </article>